<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN //EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!-- 
	Author: chengesheng
	Note:本文件用于配置Web层、视图解析器、控制器、校验器以及其他所有MVC框架中必需的Bean
-->
<beans>
	<import resource="classpath:conf/servlet-project.xml" />
	<import resource="classpath:config/servlet-*.xml" />
	
	<!-- 加载其它jar中的配置文件 -->
	<import resource="classpath*:config/servlet-*.xml" />
</beans>