/**
 * CSS File for ezMark jQuery Plugin
 *
 **/
.ez-hide { opacity: 0; filter:alpha(opacity=0); }
.ez-checkbox {
	background: transparent url('../images/ezmark/checkbox-gray.png') 0 -12px no-repeat;
	display:inline-block;
	width:12px;
	height:12px;
	*display:inline;
	*zoom:1;
}

.ez-radio {
	background: transparent url('../images/ezmark/radio.png') 0 -18px no-repeat;
	display:inline-block;
	width:18px;
	height:18px;
	*display:inline;
	*zoom:1;
}

.ez-checked { background-position: 0 0px; }
.ez-selected { background-position: 0 0px; }

.ez-checkbox, .ez-radio { zoom: 1; *display:inline; _height:30px; }
