html,body {
    height: 100%;
    overflow:hidden;
}

#wrapper {
	background: url("../images/login/login-bg.png?t=5.0.1874429097") no-repeat scroll 0 transparent;
	min-height: 100%;
    position: relative;
}

#content {
	padding: 60px 0 0;
}

#header {
	padding: 30px 40px;
}

.header-left {
	float: left;
}

.header-left .ent {
	background: url("../images/logo.png?t=5.0.3459290009") no-repeat scroll 0 transparent;
	display: inline-block;
	height: 15px;
	margin: 0 0 -2px;
	width: 114px;
}

.header-left .sep, .header-left .sys {
	color: #FFFFFF;
	font-size: 16px;
}

.header-left .sep {
	margin: 0 2px 0 5px;
}

.header-right {
	float: right;
	position: relative;
}

.header-right a, .header-right span {
	color: #FFFFFF;
	font-size: 14px;
}

.header-right .item-setting-language, .header-right .item-forgot-password {
	float: left;
	margin: 0 10px;
}

.header-right .item-setting-language .arrow-down {
	background-image: url("../images/login/arrow-down.png?t=5.0.1092411509");
    display: inline-block;
    height: 16px;
    margin: 0 3px -3px;
    width: 16px;
}

a.arrow-down:link {
	background-position: 64px 0;
}

a.arrow-down:hover {
	background-position: 48px 0;
}

a.arrow-down:active {
	background-position: 32px 0;
}

.item-language-list .arrow-up-icon {
	background: url("../images/login/arrow-up.png?t=5.0.2387269256") no-repeat scroll 0 transparent;
	height: 6px;
	left: 16px;
    position: absolute;
    top: 22px;
    width: 11px;
}

.item-language-list .ul-language-list {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 4px;
    left: 8px;
    padding: 5px 0;
    position: absolute;
    top: 28px;
    width: 96px;
}

.ul-language-list li.setting-language {
	cursor: pointer;
	height: 28px;
    line-height: 28px;
	padding: 0 0 0 15px;
}

.ul-language-list li.setting-language a {
	color: #717171;
	font-size: 13px;
}

.ul-language-list li.select {
	background: #d5d5d6;
}

.header-right .item-forgot-password .forgot-password-icon {
	background: url("../images/login/forgot-password-icon.png?t=5.0.1715431884") no-repeat scroll 0 transparent;
    display: inline-block;
    height: 16px;
    margin: 0 3px -3px;
    width: 15px;
}

.header-right .forgot-password {
	text-decoration: underline;
}

#main {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 4px;
    left: 50%;
    margin: -180px 0 0 -216px;
    padding: 0 0 20px;
    position: absolute;
    top: 50%;
    width: 432px;
}

#login-wrapper .title {
	text-align: center;
	padding: 30px 0 0;
}

#login-wrapper .title span {
	color: #888888;
	font-size: 18px;
	font-weight: bold;
}

#login-wrapper .login {
	margin: 15px auto 18px;
    width: 276px;
    position: relative;
}

#login-wrapper .login .input-text {
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    font-size: 14px;
    height: 20px;
    line-height: 15px;
    margin: 7px 0;
    padding: 8px 0 8px 50px;
}

#login-wrapper .input-login {
    width: 223px;
}

#login-wrapper .input-verify {
	width: 68px;
}

#login-wrapper .item-verifyCode {
	vertical-align: middle;
} 

#login-wrapper .login .reg-label {
    color: #a1a1a1;
    cursor: text;
    font-size: 14px;
    left: 55px;
    position: absolute;
}


#login-wrapper .login .item{
	position:relative;
}

.item-account .reg-label, .item-password .reg-label, .item-verifyCode .reg-label {
	top: 15px;
	top: 17px\9;
	*top: 17px;
}

.item-account .username-icon, .item-password .password-icon, .item-verifyCode .verifycode-icon {
	height: 37px;
	left: 0px;
	position: absolute;
	width: 46px;
}

.item-account .username-icon {
	background: url("../images/login/username-icon.png?t=5.0.400404823") no-repeat scroll 0 transparent;
    top: 7px;
    *top: 8px;
}

.item-password .password-icon {
	background: url("../images/login/password-icon.png?t=5.0.1344708797") no-repeat scroll 0 transparent;
    top: 7px;
    *top: 8px;
}

.item-verifyCode .verifycode-icon {
	background: url("../images/login/verifycode-icon.png?t=5.0.594711635") no-repeat scroll 0 transparent;
    top: 7px;
}

#login-wrapper .item-msg {
	height: 26px;
	line-height: 22px;
	margin: 2px 0 0;
	text-align: center;
}

#login-wrapper .msg-div {
	background: #f9f5c7;
	display: none;
	height: 23px;
	line-height: 23px;
	overflow:hidden;    
	text-overflow:ellipsis; 
	white-space:nowrap;
}

#login-wrapper .msg-div .msg-icon {
	background: url("../images/login/msg-icon.png?t=5.0.1969429318") no-repeat scroll 0 transparent;
	display: inline-block;
    height: 18px;
    vertical-align: middle;
    width: 19px;
}

#login-wrapper .msg-div .msg {
	color: #2d2e2f;
	font-size: 13px;
	margin: 0 0 0 5px;
}

a.btn-login, a.btn-forgotPassword {
	background: none repeat scroll 0 0 #298dd2;
	border-radius: 4px;
	color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 18px;
    height: 38px;
    line-height: 38px;
    margin: 10px 0 0;
    text-align: center;
    width: 276px;
}

a.btn-login:hover, a.btn-forgotPassword:hover {
	background: none repeat scroll 0 0 #217bba;
}

#footer {
	position: absolute;
	bottom: 20px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 20px;
    z-index: 0;
}

#footer span {
	color: #FFFFFF;
	font-size: 12px;
}

#verifyImage{
 	cursor: pointer;
 	position:absolute;
 	top:7px;
 	right:0px;
}

#forgotPassword-wrapper {
	display: none;
}

#forgotPassword-wrapper .title {
	margin: 10px 0;
    padding: 0 20px;
}

#forgotPassword-wrapper .title span {
	color: #888888;
	font-size: 14px;
	font-weight: bold;
}

#forgotPassword-wrapper .forgotPassword {
	margin: 39px auto 60px;
    width: 276px;
    position: relative;
}

.item-reg-email .reg-email-icon {
	height: 37px;
	left: 0px;
	position: absolute;
	width: 46px;
}

.item-reg-email .reg-email-icon {
	background: url("../images/login/email-icon.png?t=5.0.1419972636") no-repeat scroll 0 transparent;
    top: 7px;
    *top: 8px;
}

.forgotPassword .reg-label {
    color: #a1a1a1;
    cursor: text;
    font-size: 13px;
    left: 55px;
    position: absolute;
}

.item-reg-email .reg-label {
	top: 16px;
	top: 17px\9;
	*top: 17px;
}

#forgotPassword-wrapper .input-text {
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    margin: 7px 0;
    padding: 9px 0 10px 50px;
}

#forgotPassword-wrapper .input-email {
    width: 223px;
}

#forgotPassword-wrapper .item-msg {
	height: 26px;
	line-height: 22px;
	margin: 2px 0 0;
	text-align: center;
}

#forgotPassword-wrapper .msg-div {
	background: #f9f5c7;
	display: none;
	height: 23px;
	line-height: 23px;
}

#forgotPassword-wrapper .msg-div .msg-icon {
	background: url("../images/login/msg-icon.png?t=5.0.1969429318") no-repeat scroll 0 transparent;
	display: inline-block;
    height: 18px;
    vertical-align: middle;
    width: 19px;
}

#forgotPassword-wrapper .msg-div .msg {
	color: #2d2e2f;
	font-size: 13px;
	margin: 0 0 0 5px;
}

